<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>System-Variablen</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<table style="border:solid 3px; border-color:#e4701e; border-radius:10px;">
			<caption style="font-size:14px; font-weight:bold;">Systemvariablen</caption>
			<thead>
				<tr>
					<th>Variable</th>
					<th>Wert</th>
					<th>aktualisiert</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="variable, status : ${entries}" th:style="${status.odd} ? 'background: #f0f0f2;' : 'background: #ffffff;'">
					<td th:text="${variable.key.name}"/>
					<td th:text="${variable.key.value}"/>
					<td th:text="${variable.value} ? 'ja' : 'nein'"/>
				</tr>
			</tbody>
		</table>
	</body>
</html>
