<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:text="#{title}"></title>
<link th:href="@{/css/min.css}" rel="stylesheet" />

</head>
<body>
	<div align="center">
	<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/configuration"  th:text="#{configuration.headline}" ></a></li>
	<li th:text="#{calendar.headline}"></li>
	</ol>
	</div>
	<div align="center">
		<h1 th:text="#{calendar.headline}"></h1>
		<form action="#" th:action="@{/searchDayGroup}" method="post"
			th:object="${dayGroup}">
			<table>
				<tr>

					<td><select th:field="*{id}">
							<option th:each="dayGroup : ${dayGroups}"
								th:value="${dayGroup.id}" th:utext="${dayGroup.name}"
								th:selected=${dayGroupId==dayGroup.id}></option>
					</select>
					</td>
					<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="error"></td>
				    
					<td>
					
						<button type="submit" name="submit" th:text="#{calendar.search}"></button>
					</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>

			</table>
		</form>

		<div th:if="${dayGroup.id != null}">
			<h3 th:text="#{calenbar.daytable.headline} + '&nbsp;'+ ${dayGroup.name}"></h3>
			<table class="result-table">
				<thead>
					<tr>
						<th th:text="#{calendar.daytable.type}"></th>
						<th th:text="#{calendar.daytable.value}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="day: ${dayGroup.days}">
						<td th:text="${day.value}"></td>
						
						<td><form th:action="@{/deleteDay}"
								th:object="${day}" method="post">
								<input type="hidden" name="id" th:value="${day.id}" /> 
								<button type="submit" th:text="#{calendar.daytable.delete}"></button>
							</form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
