<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:text="#{title}"></title>
<link th:href="@{/css/min.css}" rel="stylesheet" />

</head>
<body>
	<div align="center">
	<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/configuration"  th:text="#{configuration.headline}" ></a></li>
	<li th:text="#{calendar.headline}"></li>
	</ol>
	</div>
	<div align="center">
		<h1 th:text="#{calendar.headline}"></h1>
		<form action="#" th:action="@{/searchDayGroup}" method="post"
			th:object="${dayGroup}">
			<table>
				<tr>

					<td><select th:field="*{id}">
							<option th:each="dayGroup : ${dayGroups}"
								th:value="${dayGroup.id}" th:utext="${dayGroup.name}"
								th:selected=${dayGroupId==dayGroup.id}></option>
					</select>
					</td>
					<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="error"></td>
				    
					<td>
					
						<button type="submit" name="submit" th:text="#{calendar.search}"></button>
					</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>

			</table>
		</form>

		<div th:if="${dayGroup.id != null}">
		<form action="#" th:action="@{/updateDayGroup}" method="post" th:object="${dayGroup}">
			<table>
			<thead>
			<tr>
			<th colspan="2" th:text="#{calendar.daygroup.headline}"></th>
			</tr>
			</thead>
			<tbody>
			<tr> 
			<td  th:text="#{calendar.daygroup.name}"></td> <td> <input type="text" th:field="*{name}"  disabled size="30"/> </td>
			</tr>
			<tr>
				<td  th:text="#{calendar.daygroup.readonly}"></td> <td> <input type="checkbox" name="readonly" th:checked="*{readonly}"  disabled /> </td>
			</tr>
			
			<tr>
			<td  th:text="#{calendar.daygroup.cycle}"></td>
			<td><select th:field="*{cycleId}">
							<option th:each="cycle : ${cycles}"
								th:value="${cycle.id}" th:utext="${cycle.name}"
								th:selected=${cycleId==cycle.id}  disabled></option>
					</select>
					</td>
			</tr>
			</tbody>
			</table>
		</form>	
			<h3 th:text="#{calenbar.daytable.headline}"></h3>
			<table class="result-table">
				<thead>
					<tr>
						<th th:text="#{calendar.daytable.value}"></th>
						<th th:text="#{calendar.daytable.description}"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="day: ${dayGroup.days}">
						<td th:text="${day.value}"></td>
						<td th:text="${day.description}"></td>
						<td><form th:action="@{/deleteDay}"
								th:object="${day}" method="post">
								<input type="hidden" name="id" th:value="${day.id}"  /> 
								<button type="submit" th:text="#{calendar.daytable.delete}"></button>
							</form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
