<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title th:text="#{title}"></title>
<link th:href="@{/css/min.css}" rel="stylesheet" />

</head>
<body>
	<div align="center">
	<ol>
	<li><a href="/">Home</a></li>
	<li th:text="#{configuration.headline}"></li>
	<li><a href="/calendar"  th:text="#{calendar.headline}" ></a></li>
	</ol>
	</div>
	<div align="center">
		<h1 th:text="#{configuration.headline}"></h1>
		<form action="#" th:action="@{/searchConfiguration}" method="post"
			th:object="${configuration}">
			<table>
				<tr>

					<td><select th:field="*{id}">
							<option th:each="configuration : ${configurations}"
								th:value="${configuration.id}" th:utext="${configuration.name}"
								th:selected=${configurationId==configuration.id}></option>
					</select>
					</td>
					<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="error"></td>
				    
					<td>
					
						<button type="submit" name="submit" th:text="#{configuration.search}"></button>
					</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>

			</table>
		</form>

		<div th:if="${configuration.id != null}">
			<h3 th:text="#{configuration.parametertable.headline} + '&nbsp;'+ ${configuration.name}"></h3>
			<table class="result-table">
				<thead>
					<tr>
						<th th:text="#{configuration.parametertable.name}"></th>
						<th th:text="#{configuration.parametertable.cycle}"></th>
						<th th:text="#{configuration.parametertable.value}"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="parameter: ${configuration.parameters}">
						<td th:text="${parameter.name}"></td>
						<td th:text="${parameter.cycle}"></td>
						<td th:text="${parameter.value}"></td>
						<td><form th:action="@{/showParameter}"
								th:object="${parameter}" method="post">
								<input type="hidden" name="id" th:value="${parameter.id}" /> <input
									type="hidden" name="configurationId"
									th:value="${configuration.id}" />
								<button type="submit" th:text="#{configuration.parametertable.edit}"></button>
							</form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
