<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<title th:text="Ger&auml;teVerwaltung"></title>
<style>
.error {
	color: red;
}

div.mytable {
margin: auto;
width: 1020px;
padding: 10px; 
}
</style>
</head>
<body>
<div class="mytable">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active">Konfigurationen</li>
</ol>
</nav>
</div>

	<div align="center">
		<h1 th:text="Konfigurationen"></h1>
		<form action="#" th:action="@{/search}" method="post"
			th:object="${configuration}">
			<table class="table-stripped">
				<tr>
					
					<td><select th:field="*{configurationId}">
							<option th:each="entry : ${configurations}" th:value="${entry.key}"
								th:utext="${entry.value}"
								 th:selected=${configurationId==entry.key}
								></option>
					</select></td>
					<td> <button type="submit" name="submit" th:text="suchen"></button> </td>
				</tr>
				<tr> <td colspan="2"> </td></tr>
				
			</table>
		</form>
		
		<div  th:if="${configuration.configurationId != null}">
		<h3 th:text="'Parameter: ' + ${configuration.name}" ></h3>
		<table class="table table-striped table-primary">
		<thead class="ttop">
		<tr class="table-info"><th>Name</th> <th>Wert</th> <th></th></tr>
		</thead>
		<tbody>
		<tr th:each="parameter, iStat: ${configuration.parameters}" th:style="${iStat.odd}? 'font-weight: normal;'" >
		<td th:text="${parameter.name}"></td>
		<td th:text="${parameter.value}"></td>
		<td><form th:action="@{/updateParameter}" th:object="${parameter}" method="post">
		<input type="hidden" name="id" th:value="${parameter.id}"/>
		<input type="hidden" name="configurationId" th:value="${configuration.configurationId}"/>
		<button type="submit" >bearbeiten</button>
		</form></td>
		</tr>
		</tbody>
		</table>
		</div>
	</div>
</body>
</html>
