<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{title}"></title>
<link th:href="@{/css/min.css}" rel="stylesheet" />
</head>
<body>
	<div align="center">
		<h1 th:text="#{dayofweek.headline}"></h1>
		<form action="#" th:action="@{/addDayOfWeek}" method="post"
			th:object="${dayOfWeek}">
			<input type="hidden" th:field="*{dayGroupId}" /> 
			<table>
				<tr>
					<td><label th:text="#{dayofweek.value}"></label></td>
					<td><select th:field="*{value}">
							<option value="" th:text="#{dayofweek.choose}" > </option>	
							<option th:each="day : ${days}"
								th:value="${day.key}" th:utext="${day.value}"
								th:selected=${value==day.key}></option>
					</select> </td>
					
					<td th:if="${#fields.hasErrors('value')}" th:errors="*{value}"
						th:errorclass="error"></td>
				</tr>
				<tr>
				<td><label th:text="#{dayofweek.description}"></label></td>
				<td><input type="text" th:field="*{description}" size="30" />
				</tr>
				<tr>
					<th colspan="3">
						<div th:if="${#fields.hasErrors('global')}">
							<p th:each="err : ${#fields.errors('global')}" th:text="${err}"
								class="error" />
						</div>
						<div th:if="${days.size==0}">
						  
							<p th:text="#{error.dayofweek.used}"  class=error></p>
						</div>

					</th>
				</tr>

				<tr>
					<th colspan="3">
						<button type="submit" name="cancel" th:text="#{dayofweek.cancel}"></button>
						<button type="submit" name="add" th:text="#{dayofweek.add}"  th:disabled="${days.size==0}"></button>
						
					</th>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
