<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: header}" />
<body>
	<div align="center">
		<h1 th:text="#{login.headline}"></h1>

		<form method="POST" th:action="@{/login}">
			<table>
				<tr>
					<td><label for="username" th:text="#{login.user}"></label></td>
					<td><input type="text" id="username" name="username" required autofocus></td>
				</tr>
				<tr>
					<td><label for="password" th:text="#{login.password}"></label>
					<td><input type="password" id="password" name="password" required></td>
				</tr>
				<tr>
					<th colspan="2">
						<div th:if="${param.error}" class="error" th:text="#{login.error}"> </div>
						<div th:if="${param.logout}" class="error">You have been logged out.</div>
					</th>
				</tr>
				
				<tr>
				<th colspan="2"> 	<button type="submit"  th:text="#{login.login}"></button> <th>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>