<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: header}" />
<body>
	<div align="center">
		<h1 th:text="#{parameter.headline}"></h1>
		<form action="#" th:action="@{/updateParameter}" method="post"
			th:object="${parameter}">
			<input type="hidden" th:field="*{configurationId}" />
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{name}" />
			<input type="hidden" th:field="*{configuration}" />
			<input type="hidden" th:field="*{cycle}" />
			<input type="hidden" th:field="*{cycleId}" />
			<table>

				<tr>
					<td><label th:text="#{parameter.name}"></label></td>
					<td><input type="text" th:field="*{name}" disabled size="30"/></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						th:errorclass="error"></td>
				</tr>
				<tr>
					<td><label th:text="#{parameter.configuration}"></label></td>
					<td><input type="text" th:field="*{configuration}" disabled size="30" /></td>
					<td th:if="${#fields.hasErrors('configuration')}" th:errors="*{configuration}"
						th:errorclass="error"></td>
				</tr>

				<tr>
					<td><label th:text="#{parameter.cycle}"></label></td>
					<td><input type="text" th:field="*{cycle}" disabled size="30"/></td>
					<td th:if="${#fields.hasErrors('cycle')}" th:errors="*{cycle}"
						th:errorclass="error"></td>
				</tr>
				
				<tr>
					<td><label th:text="#{parameter.value}"></label></td>
					<td><input type="text" th:field="*{value}" size="30" /></td>
					<td th:if="${#fields.hasErrors('value')}" th:errors="*{value}"
						th:errorclass="error"></td>
				</tr>

				<tr>
					<th colspan="3">
						<div th:if="${#fields.hasErrors('global')}">
							<p th:each="err : ${#fields.errors('global')}" th:text="${err}"
								class="error" />
						</div>


					</th>
				</tr>

				<tr>
					<th colspan="3">
						<button type="submit" name="cancel" th:text="#{parameter.cancel}"></button>
						<button type="submit" name="save" th:text="#{parameter.save}"></button>
					</th>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
